@import "custom-variables";
@import "components/social-bar";
@import "components/navbar";
@import "components/footer";
@import "nadien-styles/logincss";
@import "pages/index-page/index-page";
@import "pages/nurse-dashboard/dashboard";
@import "pages/doctor-dashboard/dashboard";
@import "pages/patient-dashboard/make-appointment";
@import "pages/patient-dashboard/home";

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF;
}

.alert-success, .alert-danger {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
