div.n-designs div.container-fluid {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(hello.jpg);
    /*background-position: center;*/
    background-size: cover;
    padding-top: 6%;
    padding-bottom: 6%;
}

div.n-designs h1 {
    color:#999;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

div.n-designs .fp{
    border-top: 10px;
}
div.n-designs .form-box {
    height:100%;
    width: 10%;
    width: 360px;
    height: 500px;
    position:relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow:hidden;
    bottom: 0px;
}

div.n-designs .button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}
div.n-designs .toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}


div.n-designs #btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#0026ff,#b200ff);
    border-radius: 100px;
}
div.n-designs .input-group {
    top: 180px;
    margin-left: 25px;
    position: absolute;
    width: 280px;
    transition: .5s;

}
div.n-designs .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
div.n-designs .submit-btn {
    width: 85%;
    width:300px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#0026ff,#b200ff);
    border-radius: 100px;
    outline: none;
    margin-top: 50px;
   top:100px;
}





