* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.data {
   width:500px;
    height: 100vh;
    margin-left: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}
.form-box {
    height:100%;
    width: 10%;
    width: 360px;
    height: 500px;
    position:relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow:hidden;
    bottom: 0px;
}
h1 ,h2{
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2, h4{
    color:#999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.newbutton {
    background-color: #2176bd;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    
}
div.home {
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('user.jpg');
        /*background-position: center;*/
        background-size: cover;
        padding-top: 6%;
        padding-bottom: 6%;
    }
.data {
    position: relative;
    margin-left: 250px;
    background-repeat: no-repeat;
    margin-top: -890px;
    
}




.side-menu {
    position: relative;
    background: #2176bd;
    width: 250px;
    height: 890px;
    margin-bottom: 0;
    
}
.new{
    margin-left: 300px;
    margin-top: -150px;
}
    .side-menu center img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        margin-top: 30px;
        border: 3px solid white;
    }

    .side-menu center h2 {
        color: white;
    }


    .side-menu a {
        display: block;
        line-height: 60px;
        transition: 0.5s;
    }

        .side-menu a:hover {
            background: rgb(20,54,165);
            padding-left: 20px;
        }

        .side-menu span {
            font-size: 20px;
            margin-left: 10px;
            color: white;
        }

    .side-menu i {
        font-size: 20px;
        margin-left: 0px;
        color: white;
    }


nav .menu-bar {
    float: right;
    margin-top: 20px;
    display: none;
    margin-right: 20px;
}

#menu {
    display: none;
}

.side-menu .Logout {
    display: none;
}

#newfoot{
    margin-top: 0px;
    width:250px;
   
    
}

@media (max-width:850px) {

    .side-menu{
        margin-bottom: 0px;
    }
    .side-menu a span {
        display: none;
    }

    .side-menu center {
        display: none;
    }

    .side-menu {
        width: 100px;
    }

        .side-menu a i {
            display: block;
            line-height: 80px;
            text-align: center;
            margin-left: 0;
            font-size: 35px;
            
        }

    .data {
        height:90%;
        margin-left: 100px;
        
    }
    #newfoot{
        background-color:#2176bd;
        margin-top: 200px;
        width:800px;
        height:300px;
        
    }
   
}
@media (max-width:250px) {
     
    .data {
        display: none;
       
    }
   
    nav ul {
        display: none;
    }


    .side-menu {
        width: 100%;
        height:00px;
        text-align: center;
        left: 100%;
        background-color: #4c516d;
        transition: all 0.5s;
    }

        .side-menu a i {
            display: none;
        }

        .side-menu a span {
            display: block;
        }

        .side-menu .Logout {
            display: block;
        }


    nav .menu-bar {
        display: block;
    }
}

#menu:checked ~ .side-menu {
    left: 0;
}