div.doctor-dashboard-style div.container-fluid div.section div.patient-clinic-history {
  overflow-y: auto;
  font-size: 18px;
  max-height: 300px;
  max-width: 97%;
}

div.doctor-dashboard-style div.container-fluid div.section div.patient-clinic-history div.data {
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 50px;
  border-bottom: 1px #000 solid;
}

div.doctor-dashboard-style div.container-fluid div.section div.patient-clinic-history div.data span.title {
  margin-right: 10px;
  font-size: 20px;
}

div.doctor-dashboard-style div.container-fluid div.section div.patient-clinic-history div.data div.row {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

div.doctor-dashboard-style div.container-fluid div.section div.patient-clinic-history div.data div.row p.illness-diagnose {
  padding-left: 25px;
  margin-top: 10px;
}

div.doctor-dashboard-style div.container-fluid div.section div.patient-clinic-history div.data div.drugs-container span.title {
  margin-left: 25px;
}

div.doctor-dashboard-style div.container-fluid div.section div.patient-clinic-history div.data div.drugs-container div.drugs {
  margin-left: 65px;
  margin-right: 65px;
}

div.doctor-dashboard-style div.container-fluid div.section div.patient-clinic-history div.data div.drugs-container div.drugs div.row {
  border: 1px solid #ced4da;
  background-color: #E9ECEF;
  border-radius: 0.25rem;
  color: #495057;
}

div.doctor-dashboard-style div.container-fluid div.section div.patient-clinic-history div.data div.drugs-container div.drugs div {
  padding-left: 10px;
  padding-top: 7px;
}

div.doctor-dashboard-style div.container-fluid div.section div.patient-clinic-history div.data:last-child {
  border-bottom: none;
}

