div.nurse-dashboard-style {
    div.container-fluid {
        padding: 0;
        font-family: $main-font-family;
        font-size: 16px;
        table {
            margin-top: -1px;
            tr {
                td, th {
                    text-align: center;
                }
                th {
                    font-weight: bolder;
                }
                td {
                    button {
                        border: none;
                        margin-right: 15px;
                        background-color: inherit;
                        transition: color 0.2s ease-in-out;
                        font-size: 18px;
                        &:first-child {
                            &:hover {
                                color: $bg-main-color;
                            }
                        }
                        &:last-child {
                            &:hover {
                                color: #FF0000;
                            }
                        }
                    }
                }
            }
        }
    }
    padding-bottom: 2.5%;
}
